    body {
        font-family: sans-serif;
        font-weight: bold;
        color: #DDDDDD;
        background-color: #090B46;
    }
    
    .canvas {
        width: 400px;
        height: 300px;
        margin-bottom: 32px;
        margin-top: 8px;
        background-color: #9458DF;
        border-radius: 4px;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        transition: all 300ms ease-in-out;
    }
    
    #newDiv {
        background-color: #E38FF8;
        width: 800px;
        height: 600px;
    }
    
    input {
        width: 3em !important;
    }
    
    .input,
    select {
        padding: 8px;
        border-radius: 4px;
        background-color: #cecece;
        border: 1px solid #696969;
        color: #333333;
        outline: none;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 1em;
    }
    
    pre,
    select {
        margin: 0 0 2em 44px;
    }
    
    .input {
        width: auto;
        margin: 2px;
        display: inline-block;
    }
    
    select:focus,
    .input:focus {
        background-color: #ffffff;
        border: 1px solid #55b5db;
        color: #000000;
    }
    
    .input br {
        display: none;
    }
    
    h1 {
        font-family: 'Sansita Swashed', cursive;
        font-size: 4em;
        margin-bottom: 0.25em;
        margin-top: 0.5em;
        margin-left: 44px;
        width: fit-content;
    }
    
    .wrapper {
        position: relative;
        margin-left: 44px;
        width: calc(100% - 44px);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .wrapper .innerDiv {
        margin-right: 40px;
    }
    
    .areaDiv {
        padding: 8px;
        border-bottom: 2px solid #9458DF;
    }
    
    .areaDiv:nth-of-type(2) {
        border-color: #E38FF8;
    }
    
    .backDiv,
    .backDiv::before,
    .backDiv::after {
        position: absolute;
        width: 21vmin;
        height: 21vmin;
        bottom: 6vmin;
        right: 6vmin;
        background-color: #090B46;
        border: 1px solid #DDDDDD;
    }
    
    .backDiv::before {
        content: '';
        width: 18vmin;
        height: 18vmin;
        bottom: 7vmin;
        right: 7vmin;
    }
    
    .backDiv::after {
        content: '';
        width: 14vmin;
        height: 14vmin;
        bottom: 14vmin;
        right: 14vmin;
    }
    
    @media screen and (max-width: 900px) {
        h1 {
            margin-left: 0;
            margin-bottom: 0.25em;
            margin-top: 0;
            font-size: 3em;
        }
        .wrapper {
            margin-left: 0;
            max-width: unset;
            width: 90vw;
            justify-content: space-between;
        }
        pre,
        select {
            display: none;
        }
        .innerDiv {
            min-width: 94vw;
        }
        .canvas {
            max-width: 94vw;
            width: 94vw;
            height: 70.5vw;
        }
        #newDiv {
            width: 94vw;
            height: 70.5vw;
        }
        .backDiv {
            display: none;
        }
    }